.section__projects {
  margin-top: 120px;
  min-height: 400px;
}

.slider_web {
  position: relative;
  height: 210px;
  width: 600px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.slider_mobile {
  position: relative;
  height: 410px;
  width: 350px;
  display: "flex";
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.image {
  border-radius: 10px;
  margin-left: 50px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 0px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 0px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.contenedor-proyectos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-individual {
  display: inline-block;
  margin-right: 50px;
  margin-left: 80px;
}

.subtitle__project {
  display: block;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

.screenshot-image {
  height: 400px;
  width: auto;
  margin-left: 50px;
}

/* RESPONSIVE */

@media screen and (max-width: 700px) {
  /* WEB */
  .section__projects {
    margin-top: 80px;
    min-height: 500px;
  }

  .contenedor-proyectos {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
  }

  .slider_web {
    width: 400px;
  }

  .slider_mobile {
    position: relative;
    height: 410px;
    width: 350px;
    display: "flex";
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }

  .image {
    width: 320px;
    height: 160px;
    margin-top: 50px;
  }

  .left-arrow {
    font-size: 30px;
  }
  .right-arrow {
    font-size: 30px;
  }

  .contenedor-individual {
    display: inline;
  }

  .contenedor-cadauno {
    height: 220px;
  }

  .subtitle__project {
    display: block;
    font-size: var(--small-font-size);
    text-align: center;
    margin-top: 30px;
  }
}
